/* ==========-- Import fontawesome --========== */

@import './fontawesome-6/css/all.css';

/* ==========-- Parents --========== */

%content {
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
}


/* ==========-- Variables --========== */

// $fa-font-path: '/fontawesome-6/css/fontawesome.scss';

/* =======- Colors -======= */

$main-bg: #fff;
$a-clr: #999;
$border-clr: #ddd;
$hover-clr: #1ce;

/* ==========-- Tags --========== */

body {
    padding: 30px;
    background-image: url('../../images/nature1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.show-floater {
    .floater {
        transform: scale(1.1);
        input[type='text'] {
            padding: 50px 20px;
            font-size: 18px;
        }
    }
    .overlay {
        opacity: 1;
        pointer-events: all;
    }
}


/* ==========-- Floater --========== */

.floater {
    @extend %content;
    background: $main-bg;
    transition: 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
    margin-bottom: 20px;
    z-index: 11;
    input[type='text'] {
        padding: 30px 20px;
        border: none;
        box-shadow: none;
        font-size: 14px;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    }
}

.floater-bottom {
    padding: 6px 10px 8px;
    text-align: right;
    border-top: 1px solid $border-clr;
    button {
        padding: 4px 10px;
        font-size: 10px;
    }
}


/* ==========-- Overlay --========== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    pointer-events: none;
}


/* ==========-- BookMark --========== */

.bookmarks-list {
    @extend %content;
    z-index: 9;
}

.bookmark {
    display: flex;
    position: relative;
    background-color: $main-bg;
    color: $a-clr;
    padding: 20px;
    transition: all 0.3s ease;
    border-bottom: 1px solid $border-clr;
    font-size: 16px;
    align-items: center;
    &:hover {
        color: $hover-clr;
        text-decoration: none;
    }
    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .img {
        background-color: $border-clr;
        border-radius: 3px;
        background-image: url('../..//images/bell_ball.jpg');
        background-size: cover;
        width: 80px;
        height: 60px;
        margin-right: 25px;
    }
    .titel {
        display: flex;
    }
    .fa-minus-circle {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        transition: color 0.3s ease;
        color: #aaa;
        cursor: pointer;
        &:hover {
            color: $hover-clr;
        }
    }
}